{{#partial "content"}}
<section class="landing-pg">
    <div class="land-left">
    </div>
    <div class="land-right">
    </div>
    <div class="hero-img">
    </div>
    <div class="hero-desc">
      <h3>Let's Make You  a Hero</h3>
        <a href="/hero-form"><button class="hero-btn btns">Create Hero</button></a>
    </div>
  </section>
{{/partial}}
{{> layout.hbs}}