{{#block "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>BRIAN TECH</title>
</head>
<body>
 <header>
    <hr class="nav-hr">
    <a href="/"><img src="/img/her1.png"></a>
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/hero"><li>Hero</li></a>
        <a href="/squad"><li>Squad</li></a>
      </ul>
    </nav>
  </header>
{{/block}}

{{#block "content"}}

{{/block}}

{{#block "footer"}}
<script src="/js/jquery-3.4.0.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
{{/block}}
