{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>

         <div class="hero-stats">
          <h1>{{hero.name}}</h1>
          <div class="hero-charts">
            <div class="defence">Defence  <br><span class="def-cnt"></span></div>
            <div class="distance">Speed <br><span class="dis-cnt"></span></div>
            <div class="attack ">Attack<br><span class="at-cnt"></span></div>
          </div><br><br>
             <a href="/hero" ><button class="btns back">Go Back</button></a>
        </div>

    </section>
{{/partial}}
{{> layout.hbs}}